@import "tailwindcss";

:root {
  --primary-bg-color: #121212;
  --secondary-bg-color: #409dfa;
  --primary-border-color: rgba(255, 255, 255, 0.12);
  --card-bg-color: #232323;
  --primary-color: #FFFFFF;
  --secondary-color: rgba(255, 255, 255, 0.7);
}

